.alimento-pros-cons {
    
    h2 {
        font-size: 1rem;
    }
    
    ul {
        font-family: "Open Sans";
        font-size: 0.875rem;
        line-height: 1.78;
        padding-left: 1.2rem;
    }
}