.ne-blog-post {
  display: flex;
  flex-direction: column;
  width: 100%;

  @include respond-above(sm) {
    flex-direction: row;
    flex-wrap: wrap;
  }

  &__container {
    flex: 1 1 80%;
  }

  &__share-container {
    display: flex;

    @include respond-above(sm) {
      position: sticky;
      top: 100px;
      flex-direction: column;
      margin-right: 1.85rem;
    }
  }

  &__content {
    flex: auto;
    font-family: "Open Sans";

    // wordpress drop cap style
    p.has-drop-cap:not(:focus):first-letter {
      font-size: 3rem;
      font-weight: 700;
      margin: 1.6rem;
      font-family: Montserrat;
    }
  }

  &__category {
    margin: 0;

    a {
      color: $primary-color;
      font-size: 0.9rem;
      font-weight: 600;
    }
  }

  &__title {
    font-weight: 300;
    font-size: 2.5rem;
    line-height: 1.1;
    margin: 0.2rem 0 0.8rem 0;
  }

  &__meta {
    list-style-type: none;
    margin: 0 0 1.5rem 0;
    padding: 0;
    display: flex;
    font-size: 0.8rem;
    color: $text-color-light;

    li + li:before {
      content: "|";
      margin-left: 1rem;
      margin-right: 1rem;
      font-weight: 300;
      color: #ccc;
    }

    i {
      vertical-align: middle;
      padding-right: 0.2rem;
    }
  }

  &__share {
    @include respond-above(sm) {
      order: -1;
    }
  }

  &__share-icons {
    border: 1px solid #f0f0f0;
    border-radius: 8px;
    width: 2.8rem;
    height: 2.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $text-color;
    transition: all 0.2s;

    &:not(last-child) {
      margin-right: 0.5rem;
      @include respond-above(sm) {
        margin-right: 0;
        margin-bottom: 0.5rem;
      }
    }

    &:hover {
      @include accent-box-shadow;
    }
  }

  &__content {
    line-height: 1.8;
  }
}

.card-post {
  @include normal-box-shadow;
  border-radius: 8px;

  &__img-link {
    transition: all 0.3s;

    &:hover {
      filter: brightness(80%);
    }

    img {
      height: 230px;
      object-fit: cover;
      border-radius: 8px 8px 0 0;
    }
  }

  &__details {
    padding: 0 1.7rem 1.7rem;

    &-categories {
      margin-top: 0.7rem;
      margin-bottom: 0.2rem;

      a {
        color: $primary-color;
        font-weight: 700;
        font-size: 0.75rem;
      }
    }

    &-title {
      font-size: 1.625rem;
      font-weight: 300;
      line-height: 1.75rem;
      margin: 0;

      a,
      a:visited {
        color: $text-color-dark;

        &:hover {
          color: $text-color;
        }
      }
    }

    &-meta {
      list-style-type: none;
      margin: 0.5rem 0 1rem 0;
      padding: 0;
      display: flex;
      font-size: 0.7rem;
      color: $text-color-light;

      li + li:before {
        content: "|";
        margin-left: 0.7rem;
        margin-right: 0.7rem;
        font-weight: 300;
        color: #ccc;
      }

      i {
        vertical-align: middle;
        padding-right: 0.2rem;
      }
    }

    &-excerpt {
      font-family: "Open Sans";
      font-size: 0.875rem;
      margin: 0;
      line-height: 1.78;
    }
  }
}
