.ne-home-top {
    background: url('img/homeHeader.jpg') no-repeat top center;
    background-size: cover;
    height: 90vh;

    @include respond-above(sm) {
            background: url('img/homeheader2.jpg') no-repeat top center;
            background-size: cover;
            height: 80vh;
        }



    &__inner {
        display: flex;
        align-items: center;
        height: 100%;
    }

    &__text {
        width: 100%;

        @include respond-above(sm) {
            width: 50%;
            padding-right: 2rem;
        }
    }

    &__btn {
        display: inline-block;
        border: 3px solid transparent;
        background: #4ab877;
        box-shadow: 0 2px 10px rgba(74,184,119,.5);
        color: #fff;
        border-radius: 50rem;
        padding: .7rem 1rem;
        font-size: 0.7rem;
        text-transform: uppercase;
        font-weight: 700;

        &:hover {
            color: #fff;
            box-shadow: 0 2px 15px rgba(74,184,119,.9);
        }
    }

    h1 {
        font-size: 3rem;
        line-height: 3rem;
    }

    p {
        font-size: 1.4rem;
        line-height: 2rem;
        color: #8D8D8D;
    }
}

.all-about-nutrition {
    margin-top: 4rem;

    h2 {
        font-size: 38px;
        font-weight: 600;
    }

    &__inner {
        display: flex;
        flex-direction: column;
        @include respond-above(sm) {
            flex-direction: row;
            justify-content: center;
        }
    }

    &__card {
        max-width: 100%;
        margin: 1rem 0;
        padding: 1rem;
        border-radius: 8px;
        box-shadow: 0 0 40px rgba(0,0,0,.05);

        @include respond-above(sm) {
            max-width: 285px;
            margin: 1.5rem 2%;
        }
        // @include normal-box-shadow;
        // transition: box-shadow .25s ease, transform .25s ease;

        // &:hover {
        //     box-shadow: 0 2rem 5rem rgba(22, 28, 45, .1), 0 .5rem 1rem -.75rem rgba(22, 28, 45, .05);
        //     transform: translate3d(0, -5px, 0);
        // }
    }

    &__img {
        margin-top: 50px;
    }

    &__card-title {
        font-size: 28px;
        font-weight: 500;
        margin-bottom: 0;
        color: #505050;
    }

    &__card-text {
        font-family: "Open Sans";
        font-size: 0.875rem;
        line-height: 1.78;
        color: #a2a2a2;
    }
}