.login-action-login {
    input {
        border-color: #CFD8E3;
    }

    // focus color on inputs
    input:focus {
        border-color: $primary-color-dark;
        box-shadow: 0 0 2px rgba(74,184,119,.8);
        outline: 2px solid transparent;
    }

    .button-primary.focus, .button-primary:focus {
        box-shadow: 0 0 2px rgba(74,184,119,.8);
    }

    a:focus {
        box-shadow: 0 0 2px $text-color;
    }
}

// login image
.login h1 a {
    background-image: url('img/logoHorizontal.svg');
    background-size: 100%;
    width: 100%;
}

.login #loginform {
    border: none;
    margin-top: 40px;
    margin-bottom: 30px;
    border-radius: 8px;
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

// log in button
.wp-core-ui .button-primary {
    background: #4ab877;
    border-color: #45ad6f;
    box-shadow: 0 1px 0 #45ad6f;
    color: #fff;
    text-decoration: none;
    text-shadow: 0 -1px 1px #45ad6f, 1px 0 1px #45ad6f, 0 1px 1px #45ad6f, -1px 0 1px #45ad6f;
}
.wp-core-ui .button-primary.focus, .wp-core-ui .button-primary.hover, .wp-core-ui .button-primary:focus, .wp-core-ui .button-primary:hover {
    background: #45ad6f;
    border-color: $primary-color-dark;
    color: #fff;
}