.card-post-nutriente {
  @include normal-box-shadow;
  border-radius: 8px;
  text-align: center;
  transition: box-shadow .25s ease, transform .25s ease;
  padding: 1rem;
  background: #fff;

  &:hover {
    box-shadow: 0 2rem 5rem rgba(22, 28, 45, .1), 0 .5rem 1rem -.75rem rgba(22, 28, 45, .05);
    transform: translate3d(0, -5px, 0);
  }

  &__details {
    //padding: 0 1rem 1rem;

    &-title {
      font-size: 1.1rem;
      font-weight: 600;
      line-height: 1.75rem;
      margin: 0;
      color: $text-color;
    }

    &-categories {
      margin-top: 0;
      margin-bottom: 0.2rem;
      color: $text-color-light;
      font-weight: 400;
      font-size: 0.75rem;
    }
  }
}

// Force small img size on card post nutriente for Nutrient Archive Page
.post-type-archive-nutriente .card-post-nutriente img.size-thumbnail {
  padding: 1rem;
  max-width: 125px;
}

.ne-more-nutrients {
  display: flex;
  margin-bottom: 1rem;
  align-items: center;

  img {
    object-fit: cover;
    max-width: 3.5rem;
    height: 3.5rem;
    margin-right: 1rem;
    border-radius: 8px;
  }

  &__details {
    margin-top: -10px;
  }

  &__title-link {
    color: $text-color;

    &:hover {
      color: $primary-color;
    }
  }

  &__title {
    margin: 0;
    font-size: 0.81rem;
    font-weight: 700;
  }

  &__date {
    margin: 0;
    font-size: 0.69rem;
    color: #8d8d8d;
  }
}