.site-footer {
  margin-top: 5rem;

  &__inner {
    @include container;
    display: grid;
    grid-template-columns: 2.5fr 1.5fr 1fr 1fr;
    grid-gap: 2rem;

    h3 {
      margin: 0;
    }

    ul {
      list-style-type: none;
      padding: 0;
      margin: .5rem 0 2rem;
      line-height: 2rem;
    }
  }

  &__col1 {
    padding-right: 2rem;

    p {
      font-family: "Open Sans";
      font-size: 0.875rem;
      margin: .5rem 0 1rem;
      line-height: 1.78;
    }
  }

  &__copy {
    padding: 1.2rem;
    margin-top: 1.7rem;
    font-size: 0.8rem;
    border-top: 1px dashed #e9e9e9;
    text-align: center;
  }

  &__social-link {
    color: $text-color-light;
    border-radius: 5px;
    margin-right: 0.5rem;
    height: 35px;
    width: 35px;
    display: inline-flex;
    justify-content: center;
    align-items: center;

    &:hover {
      background: $primary-color;
      color: #fff;
    }
  }

  a.footer-link {
    color: #878787;
    font-size: .875rem;

    &:hover {
      color: #000;
    }
  }
}
