.page-layout {
  width: 100vw;
  margin-top: 65px;
}

.section-normal {
  padding-top: 2rem;
  padding-bottom: 2rem;
  @include container;
}

.column-with-sidebar {
  display: flex;
  flex-wrap: wrap;

  &__main {
    flex: 1;
    width: 100%;
    @include respond-above(md) {
      flex: 1;
      flex-basis: 70%;
      padding-right: 2rem;
    }
  }

  &__sidebar {
    flex-basis: 100%;
    @include respond-above(md) {
      flex-basis: 30%;
      padding-left: 1rem;
    }
  }
}

.grid-2-col {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 20px;

  @include respond-above(xs) {
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
  }
}

.grid-3-fit {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.grid-4-fit {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}
