.page-layout {
  width: 100vw;
  margin-top: 65px;
}

.section-normal {
  padding-top: 2rem;
  padding-bottom: 2rem;
  @include container;
}

.column-with-sidebar {
  display: flex;
  flex-wrap: wrap;

  &__main {
    float: 1;
    padding: 1rem;
    flex-basis: 100%;
    @include respond-above(md) {
      flex: 1;
      flex-basis: 70%;
      padding: 1rem 1rem 1rem 0;
    }
  }

  &__sidebar {
    padding: 1rem;
    flex-basis: 100%;
    @include respond-above(md) {
      flex-basis: 30%;
      padding: 1rem 0 1rem 1rem;
    }
  }
}
