// adjust navbar bellow wp black bar if logged in
.logged-in .navbar {
  top: 32px;
}

.navbar {
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100vw;
  font-size: 0.8rem;
  background-color: #fff;
  @include normal-box-shadow;

  &__inner {
    height: 65px;
    @include container;
    @include row-spaced-center;
  }

  &__logo-link {
    @include respond-above(sm) {
      flex: auto;
    }
  }

  &__logo {
    max-height: 50px;
  }

  &__nav {
    display: none;
    font-weight: 600;

    @include respond-above(sm) {
      display: block;
    }

    ul {
      list-style: none;
      display: flex;
      margin-right: 1rem;
      padding: 0;

      a {
        padding: 1rem;
        color: $text-color;

        &:hover {
          color: $primary-color;
        }
      }

      .current-menu-item a {
        color: $primary-color;
      }
    }
  }

  #icon-menu {
    order: -1;
    padding: 1rem;
    margin-left: -1rem;
    color: $text-color;
    cursor: pointer;
    @include respond-above(sm) {
      display: none;
    }

    &:hover,
    &:active {
      color: $text-color-light;
    }
  }

  #icon-search {
    padding: 1rem;
    margin-right: -1rem;
    color: $text-color;
    cursor: pointer;

    &:hover,
    &:active {
      color: $text-color-light;
    }
  }
}
