.offcanvas-overlay {
  visibility: hidden;
  position: fixed;
  z-index: 2000;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  font-size: 0.8rem;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: 0.3s all ease-in-out;
  cursor: pointer;

  &--active {
    opacity: 1;
    visibility: visible;
  }
}

.offcanvas {
  display: flex;
  flex-direction: column;
  visibility: hidden;
  position: fixed;
  top: 0;
  bottom: 0;
  transform: translateX(-350px);
  width: 250px;
  padding: $container-padding;
  font-size: 0.8rem;
  font-weight: 600;
  background-color: #fff;
  z-index: 3000;
  transition: 0.3s all ease-in-out;

  &--active {
    visibility: visible;
    transform: translateX(0);
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    a {
      padding: 1rem;
      line-height: 2.5rem;
      color: $text-color;

      &:hover {
        color: $primary-color;
      }
    }

    .current-menu-item a {
      color: $primary-color;
    }
  }

  #icon-close {
    text-align: right;
    align-self: flex-end;
    padding: 1rem;
    color: $text-color;
    cursor: pointer;

    &:hover,
    &:active {
      color: $text-color-light;
    }
  }
}
