.ne-main-nutrients {
  list-style-type: none;
  padding: 0;

  &__item {
    margin-bottom: 0.5rem;
  }
  
  &__item-link {
    display: flex;
    align-items: center;
  }
  
  &__item-details {
    margin-left: 0.5rem;
    font-size: 0.8rem;
    display: flex;
    flex-direction: column;
  }

  &__item-title {
    font-weight: 600;
  }

  &__item-category {
    color: #999;
  }
}
