.ne-main-nutrients {
  list-style-type: none;
  padding: 0;

  &__item-link {
    display: flex;
    align-items: center;
  }

  &__item-title {
    margin-left: 0.5rem;
    font-weight: 600;
    font-size: 0.8rem;
  }
}

.div-wrapper {
  position: relative;
  padding-bottom: 100%;
  height: 0;
  overflow: hidden;
}

#ne-nutrition-distribution {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
