.ne-related-posts {
  margin-top: 2.5rem;
  border-top: 1px solid #f3f3f3;
  padding-top: 2.5rem;

  &__title {
    margin-top: 0;
  }

  &__list {
    padding: 0;
    display: flex;
    flex-direction: column;

    @include respond-above(xs) {
      flex-direction: row;
      justify-content: space-between;
    }
  }

  &__item {
    list-style-type: none;
    width: 100%;
    margin-bottom: 1.5rem;

    @include respond-above(xs) {
      width: 31%;
      margin-bottom: 0;
    }

    &-link-img {
      transition: all 0.3s;

      &:hover {
        filter: brightness(80%);
      }

      img {
        border-radius: 8px;
        height: 150px;
        object-fit: cover;
      }
    }

    &-title {
      margin: 0.3rem 0;
      line-height: 1.3;

      a {
        font-weight: 600;
        color: $text-color;

        &:hover {
          color: $text-color-light;
        }
      }
    }

    &-date {
      margin: 0;
      font-size: 0.69rem;
      color: $text-color-light;
    }
  }
}
