.ne-sub-header {
  &__alimento {
    background: url("img/foodPattern.png"),
      linear-gradient(to right, #4ab877, #a9dd81);
  }

  &__nutriente {
    background: url("img/foodPattern.png"),
      linear-gradient(to right, #3498db, #64c9ef);
  }

  &__title {
    color: #fff;
    font-size: 2.5rem;
    font-weight: 600;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
    margin: 0;
  }

  &__category {
    font-size: 1.5rem;
    font-weight: 300;
    color: #fff;
    margin: -0.8rem 0 0.8rem;
  }
}

.breadcrumb-container {
  margin-top: -3.5rem;
}

.ne-breadcrumbs {
  display: flex;
  width: fit-content;
  border-radius: 8px;
  box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.05);
  font-size: 0.7rem;

  &__alimento {
    background: #8bd17e;
  }

  &__nutriente {
    background: #64c9ef;
  }

  &__link,
  &__current {
    padding: 0.7rem;
  }

  &__link {
    color: #fff;

    &:hover {
      color: #555;
    }
  }

  &__link-alimento {
    border-right: 1px solid #67c47a;
  }

  &__link-nutriente {
    border-right: 1px solid darken(#64c9ef, 10%);
  }

  &__current {
    background: #fff;
    border-radius: 0 8px 8px 0;
    font-weight: 600;
  }
}
