img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: $primary-color;
}

a:hover,
a:active,
a:focus {
  color: $primary-color-light;
}

::selection {
  background-color: $primary-color-light !important;
  color: #fff;
}
/*
a:focus {
  outline: 3px solid $primary-color-light;
}
*/

.list-min {
  list-style-type: none;
  padding: 0;
}

.valign-center {
  align-items: center;
}
