img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

::selection {
  background-color: $primary-color-light !important;
  color: #fff;
}

:focus {
  outline: 3px solid $primary-color-light;
}
