body {
  font-family: Montserrat, Roboto, sans-serif;
  -webkit-font-smoothing: antialiased;
  color: $text-color;
}

.page-title {
  margin-top: 0;
}

.text-center {
  text-align: center;
}

.ne-h3-title {
  font-size: 1rem;
  margin-bottom: .5rem;
}

.ne-small-title {
  font-size: .75rem;
  margin-bottom: .25rem;
}