//
//  COLORS
//––––––––––––––––––––––––––––––––––––––––––––––––––

$primary-color: #777;
$secondary-color: #999;

// Text colors
$text-color: #424242;
$text-color-light: lighten($text-color, 20%);

//
//  LAYOUT
//––––––––––––––––––––––––––––––––––––––––––––––––––

$container-max-width: 1032px;
$container-padding: 1.25rem;

//
//  MEDIA QUERIES
//––––––––––––––––––––––––––––––––––––––––––––––––––

// A map of breakpoints.
$breakpoints: (
  xs: 576px,
  sm: 768px,
  md: 992px,
  lg: 1200px
);
