//
//  COLORS
//––––––––––––––––––––––––––––––––––––––––––––––––––

$primary-color: #4ab877;
$primary-color-dark: darken($primary-color, 10%);
$primary-color-light: lighten($primary-color, 10%);

// Text colors
$text-color: #616161;
$text-color-light: lighten($text-color, 20%);
$text-color-dark: darken($text-color, 15%);

//
//  LAYOUT
//––––––––––––––––––––––––––––––––––––––––––––––––––

$container-max-width: 1260px;
$container-padding: 1.25rem;
$container-padding-extra: 2.25rem;

//
//  MEDIA QUERIES
//––––––––––––––––––––––––––––––––––––––––––––––––––

// A map of breakpoints.
$breakpoints: (
  xs: 576px,
  sm: 768px,
  md: 992px,
  lg: 1200px
);
